h1 {
    margin-bottom: 2.5em;
}

.section-header {
    background-color: #000;
    color: #fff;
    padding: 0.625em 1.25em;
    border-radius: 0.3125em;
    display: inline-block;
    box-shadow: 0.25em 0 0 #f1f1f1, -0.25em 0 0 #f1f1f1;
    font-size: 2em;
    max-width: fit-content;
}

.vertical-timeline-element-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.vertical-timeline-element-company-and-location {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.vertical-timeline-element-content {
    border-radius: 0.625em ;
    padding: 1em;
}

.vertical-timeline-element-date {
    color: #000;
}

