h1 {
    margin-bottom: 2.5em;
}

.section-header {
    background-color: #000;
    color: #fff;
    padding: 0.625em 1.25em;
    border-radius: 0.3125em;
    display: inline-block;
    box-shadow: 0.25em 0 0 #f1f1f1, -0.25em 0 0 #f1f1f1;
    font-size: 2em;
    max-width: fit-content;
}

.timeline {
    position: relative;
    padding: 1.25em 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline::before {
    content: 'PRESENT';
    position: absolute;
    top: -1.5625em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
}

.timeline::after {
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0.125em;
    background: #000;
}

.timeline-item {
    position: relative;
    margin-left: 0;
    width: 80%;
    max-width: 37.5em;
    margin-bottom: 1.25em;
}

.timeline-item.left {
    align-self: flex-start;
    text-align: right;
}

.timeline-item.right {
    align-self: flex-end;
    text-align: left;
}

.timeline-marker {
    position: absolute;
    top: 50%;
    width: 1.5em;
    height: 1.5em;
    background: #000;
    border-radius: 50%;
    border: 0.25em solid #fff;
}

.timeline-item.left .timeline-marker {
    /* Position of the black circle marker to the left side of the content box */
    right: -10%;
}

.timeline-item.right .timeline-marker {
    /* Position of the black circle marker to the right side of the content box */
    left: -10%;
}

.timeline-content {
    background: #f8f9fa;
    border: 0.0625em solid #dee2e6;
    border-radius: 0.625em;
    padding: 0.9375em;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
    margin-top: 1.25em;
}

.timeline-item.left .timeline-content {
    /* Position of the experience item to the left side of the timeline */
    margin-right: -5%;
}

.timeline-item.right .timeline-content {
    /* Position of the experience item to the right side of the timeline */
    margin-left: -5%;
}