.skills-container {
    margin-top: 2rem;
}

.section-header {
    background-color: #000;
    color: #fff;
    padding: 0.625em 1.25em;
    border-radius: 0.3125em;
    display: inline-block;
    box-shadow: 0.25em 0 0 #f1f1f1, -0.25em 0 0 #f1f1f1;
    font-size: 2em;
    max-width: fit-content;
}

.skills-category {
    margin-bottom: 1.5rem;
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.skills-item img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.skills-item .skill-name {
    font-size: 1.25rem;
}