.about-me-container {
    background-color: white;
    padding: 3.125em 0;
}

.section-header {
    background-color: #000;
    color: #fff;
    padding: 0.625em 1.25em;
    border-radius: 0.3125em;
    display: inline-block;
    box-shadow: 0.25em 0 0 #f1f1f1, -0.25em 0 0 #f1f1f1;
    font-size: 2em;
    max-width: fit-content;
}

.custom-border {
    border: 0.25em solid black;
    box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.2);
}

.resume-link {
    display: block;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 0.625em;
    margin-top: 0.625em;
}

.contact-icon {
    width: 1.875em;
    height: 1.875em;
}

.interest-section {
    border: 0.125em solid black;
    border-radius: 0.9375em;
    padding: 0.625em;
    width: 30%;
    box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.2);
}

.interest-section h4 {
    font-weight: bold;
    text-decoration: underline;
}

.clickable {
    cursor: pointer;
}

.description {
    margin-top: 0.625em;
}

.image-grid {
    display: grid;
    gap: 0;
    grid-template-areas:
        "a a b b c"
        "a a d d c"
        "e e d d f"
        "e e g h h"
        "i j j h h";
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0.125em solid black;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.image-grid img:nth-child(1) {
    grid-area: a;
}

.image-grid img:nth-child(2) {
    grid-area: b;
}

.image-grid img:nth-child(3) {
    grid-area: c;
}

.image-grid img:nth-child(4) {
    grid-area: d;
}

.image-grid img:nth-child(5) {
    grid-area: e;
}

.image-grid img:nth-child(6) {
    grid-area: f;
}

.image-grid img:nth-child(7) {
    grid-area: g;
}

.image-grid img:nth-child(8) {
    grid-area: h;
}

.image-grid img:nth-child(9) {
    grid-area: i;
}

.image-grid img:nth-child(10) {
    grid-area: j;
}

/* Not very robust, need to add more grid rules when adding more images */