.navbar-img {
    height: 20px;
    width: auto;
    margin-left: 0.5rem;
    vertical-align: middle;
}

.custom-nav-link {
    color: black;
    display: flex;
    align-items: center;
}

.navbar {
    padding: 0.3rem 0.6rem;
    height: 50px;
}

.navbar-brand {
    font-size: 0.8rem;
}

.nav-link {
    font-size: 0.6rem;
    padding: 0.3rem 0.6rem;
}
